In [ ]:
age = 10
if age < 18:
  print("you are a child of", age, "years old.")
else:
  print("you are a adult of", age, "years old.")

you are a child of 10 years old.

In [ ]:
age = 10
while age < 18:
  print("you are a child of", age, "years old.")
  age = age + 1
else:
  print("you are a adult of", age, "years old.")

you are a child of 10 years old.
you are a child of 11 years old.
you are a child of 12 years old.
you are a child of 13 years old.
you are a child of 14 years old.
you are a child of 15 years old.
you are a child of 16 years old.
you are a child of 17 years old.
you are a adult of 18 years old.

In [ ]:
fruits = ["banana", "starfruit", "mangoes", "durian"]
for we in fruits:
  print("I like to eat", we)

I like to eat banana
I like to eat starfruit
I like to eat mangoes
I like to eat durian

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(5, 15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(10, 5))

[]

In [ ]:
list(range(3, 20, 2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
list(range(10, 5, -1))

[10, 9, 8, 7, 6]

In [ ]:
num = list(range(10,-5, -3))
for i in num:
  print(i)

10
7
4
1
-2

In [ ]:
num = 10
while num > -3:
  print(num)
  num = num -3

10
7
4
1
-2