In [ ]:
def coffee_machine(beans, liquid):
  if beans=="roasted":
    print("grinding the beans")
  if liquid=="water":
    print("making espresso")
    return "espresso"
  elif liquid=="milk":
    print("making cappoccino")
    return "cappocino"

In [ ]:
coffee_machine("roasted", "water")

grinding the beans
making espresso

'espresso'

In [ ]:
coffee = coffee_machine("roasted", "water")

grinding the beans
making espresso

In [ ]:
print(coffee)

espresso

In [ ]:
def sum_of_two(num1, num2):
  result=num1 + num2
  return result

In [ ]:
sum_of_two(5,10)

15

In [ ]:
def sum_of_2(num1, num2):
  result=num1 + num2
  print(result)

In [ ]:
sum_of_2(5,10)

15

In [ ]:
x = sum_of_two(2,3)
print(x+5)

10

In [ ]:
x = sum_of_2(2,3)
print(x+5)

5

TypeError: ignored

In [ ]:
def sum_of_two(num1:int, num2:float) -> float:
  "a function which takes two numbers and return the sum"
  result=num1 + num2
  return result

In [ ]:
sum_of_two(5,6.3)

11.3

In [ ]:
sum_of_two(2.3,10)

12.3

In [ ]:
sum_of_two("hello","kitim")

'hellokitim'

In [ ]:
def double(num, multiple = 2):
  result = num * multiple
  return result

In [ ]:
double(5)

10

In [ ]:
double(5, 1)

5

In [ ]:
print(2, 3, "hello", 5, [1, 2])

2 3 hello 5 [1, 2]

In [ ]:
numbers = [1, 2, 3, 4, 5]
total = 0
for i in numbers:
  total = total + i
print(total)

15

In [ ]:
sum(numbers)

15

In [ ]:
def sum_of_all(*numbers):
  total = 0
  for i in numbers:
    total = total + i
  return total

In [ ]:
sum_of_all(2, 3, 5, 7)

17

In [ ]:
def product_of_all(*numbers):
  total = 1
  for i in numbers:
    total = total * i
  return total

In [ ]:
product_of_all(1, 2, 3)

6