In [ ]:
numbers = ["20", "30", "3", "100", "1", "35", "24"]

In [ ]:
print(numbers)

['20', '30', '3', '100', '1', '35', '24']

In [ ]:
number2 = int(numbers)

In [ ]:
numbers2 = []
for i in numbers:
  x = int(i)
  numbers2.append(x)

In [ ]:
print(numbers2)

[20, 30, 3, 100, 1, 35, 24]

In [ ]:
numbers3 = [int(i) for i in numbers]
print(numbers3)

[20, 30, 3, 100, 1, 35, 24]

In [ ]:
numbers4 = []
for i in numbers:
  x = int(i)
  if x % 2 == 0:
    numbers4.append(x)

In [ ]:
print(numbers4)

[20, 30, 100, 24]

In [ ]:
numbers5 = [int(i) for i in numbers if int(i) % 2 == 0]
print(numbers5)

[20, 30, 100, 24]

In [ ]:
for i in numbers:
  x = int(i)
  if x % 2 == 0:
    print("even", x)
  else:
    print("odd", x)

even 20
even 30
odd 3
even 100
odd 1
odd 35
even 24

In [ ]:
[print("even", i) if int(i)%2 == 0 else print("odd", i) for i in numbers]

even 20
even 30
odd 3
even 100
odd 1
odd 35
even 24

[None, None, None, None, None, None, None]

In [ ]:
x = [print("even", i) if int(i)%2 == 0 else print("odd", i) for i in numbers]

even 20
even 30
odd 3
even 100
odd 1
odd 35
even 24

In [ ]:
def double(num):
  result = num * 2
  return result

In [ ]:
double(5)

10

In [ ]:
double2 = lambda num: num * 2

In [ ]:
double2(10)

20

In [ ]:
def even_or_odd(num):
  if num%2 == 0:
    print("even", num)
  else:
    print("odd", num)

In [ ]:
even_or_odd(5)

odd 5

In [ ]:
even_or_odd2 = lambda num: print("EVEN", num) if num%2 == 0 else print("ODD", num)

In [ ]:
even_or_odd2(55)

ODD 55

In [ ]:
even_or_odd2()